@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 20%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;
    --primary: 171 45% 50%;
    --primary-light: 171 45% 60%;
    --primary-dark: 171 45% 35%;
    --primary-foreground: 171 100% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 20%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 174 45% 51%;
    --accent-foreground: 174 100% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-dark: 0 84.2% 50.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 171 45% 50%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 0 0% 20%;
    --sidebar-primary: 171 45% 50%;
    --sidebar-primary-foreground: 171 100% 98%;
    --sidebar-accent: 0 0% 94%;
    --sidebar-accent-foreground: 0 0% 20%;
    --sidebar-border: 0 0% 89.8%;
    --sidebar-ring: 171 45% 50%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 171 45% 50%;
    --primary-light: 171 45% 55%;
    --primary-dark: 171 45% 40%;
    --primary-foreground: 171 100% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 174 45% 51%;
    --accent-foreground: 174 100% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-dark: 0 62.8% 25.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 171 45% 50%;
    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 171 45% 50%;
    --sidebar-primary-foreground: 171 100% 98%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 171 45% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}

@layer components {
  .button-variant-outline-hover:hover {
      @apply bg-accent text-accent-foreground;
  }
}

@layer utilities {
  .break-word {
    word-break: break-word;
  }
}
